<?xml version="1.0" encoding="UTF-8"?>
<root>
	<item>
		<base_dir>E:/update</base_dir>
		<search_dir>E:/workspace/chaozhou/WsdtCZ/WebRoot/bin</search_dir>
		<search_filter>*.swf</search_filter>
		<from_dir>E:/workspace/chaozhou/WsdtCZ/WebRoot/bin</from_dir>
		<to_dir>ROOT/bin</to_dir>
		
		<type>svn</type>
        <svn_username>zhangpengfei</svn_username>
        <svn_password>zpf1234</svn_password>
        <svn_url>http://svn.xd-info.com:9432/svn/FORP_DEV2018</svn_url>
        <svn_path>/金元证券/003软件开发/04编码/web-admin</svn_path>
        <java_path>/src</java_path>
        <web_path>/web</web_path> 
        
	</item>
</root>